@font-face {
    font-family: 'Norse';
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Norse', sans-serif;
    background-color: rgb(247, 244, 244); */
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.column-left {
    background-image: url('images/signup-bg.jpg');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Norse', sans-serif;
}

.column-right {
    display: flex;
    flex-direction: column;
}

.top {
    height: 40vh;
    background-color: rgb(247, 244, 244);
    font-weight: 900;
    padding: 100px;
}

.form {
    height: 30vh;
    background-color: white;
    padding: 100px;
    align-self: stretch;
}

.bottom {
    height: 30vh;
    background-color: rgb(247, 244, 244);
    font-weight: 900;
    padding: 100px;
    align-self: stretch;
}